<div class="main posts-new">
    <%= render 'layouts/menu' %>

    <div class="container">
        <h1 class="form-heading">編集する</h1>
        <div class="form">
            <div class="form-body">
                <% @task.errors.full_messages.each do |messsage| %>
                <div class="form-error">
                    <%= messsage %>
                </div>
                <% end %>
                <%= form_with model:@task do |f| %>
                  <%=  f.text_area :content %>
                  <%=  f.submit "保存する"%>
                <% end %>
            </div>
        </div>
    </div>
</div>