<div class = "main">
 <%= render 'layouts/menu' %>

 <div class = "container">
 	 <div class="goal-wrapper">
      <p>【目標】<%= @goal.goal %></p>
      <p>【目的】<%= @goal.purpose %></p>
      <p>【達成期日】<%= @goal.date %></p>
    </div>

  <ul class="user-tabs">
   <li><%= link_to("今までの積み上げ", "/users/#{@user.id}") %></li>
   <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
   <li class="active"><%= link_to("タスク","/tasks/#{@current_user.id}") %></li>
  </ul>

    <div class="task-wrapper">
    
    <div class="tasks-index">
     <div class="tasks-title">
      <p>【タスク一覧】</p>
     </div>
    <% @user.tasks.each do |task|%>
     <% if task.status == nil %>
      <div class="task-box">
       <div class="task-content">
        <%= link_to(task.content,"/tasks/#{task.id}/edit") %> 
       </div>
       <div class="foot-wrapper">
        <div class="likes_count">
         <%= link_to("完了","/tasks/#{task.id}/done",{method: "post"})%>
        </div>
        <div class="likes_count">
         <%= link_to("削除","/tasks/#{task.id}/destroy",{method: "post"}) %>
        </div>
        <!-- <div class="posting-time">
         <%= task.created_at %>
        </div> -->
       </div>
      </div>
     <% end %>
     <% end %>
    </div>

    <div class="done-tasks-index">
      <div class="done-tasks-title">
      <p>【完了タスク一覧】</p>
     </div>

    <% @user.tasks.each do |task|%>
     <% if task.status == "done" %>
       <div class="done-task-box">
        <div class="task-content">
         <%= link_to(task.content,"/tasks/#{task.id}/edit") %>
        </div>
        <div class="foot-wrapper">
        <div class="likes_count">
         <%= link_to("未完了へ戻す","/tasks/#{task.id}/unfinish",{method: "post"})%>
        </div>
        <div class="likes_count">
         <%= link_to("削除","/tasks/#{task.id}/destroy",{method: "post"}) %>
        </div>
       </div>
      </div>
     <% end %>
    <% end %>
    </div>

 </div>

</div>
</div>