<div class = "main">
  <%= render 'layouts/menu' %>

<div class = "container">
  <h1 class = "form-heading">タスク管理</h1>
    <div class ="form">
      <div class ="form-body">
        <%= form_with model:@task do |f| %>
          <%= f.label :content,"【タスクを追加する】" %>
          <%= f.text_field :content %>
          <%= f.hidden_field :user_id,value:@current_user.id %>
          <%= f.hidden_field :user_name,value:@current_user.name %>
          <%= f.submit "追加" %>
        <% end %>
      </div>
    </div>

  <% @user.tasks.each do |task|%>
    <div class="user-posts-box">
      <div class="post-content">
        <%= link_to task.content,edit_task_path(task) %> 
     </div>
     <div class="foot-wrapper">
      <div class="posting-time">
       <%= simple_time(task.created_at) %>
      </div>
     </div>
    </div>
    <% end %>
 </div>
</div>