  <% if @current_user.id == params[:id].to_i%>
    <div class="goal-wrapper">
      <% goal = Goal.where(user_id: @current_user.id).last %>
      <% if goal.status == nil%>
        <p>【目標】<%= goal.goal %></p>
        <p>【目的】<%= goal.purpose %></p>
        <p>【達成期日】<%= goal.date.strftime("%Y年%-m月%-d日") %></p>
        <div class="achieve-btn">
          <%= link_to "目標達成",done_goal_path(goal),method: :post %>
        </div>
      <% else %>
        <div class="reset-btn">
        <%= link_to "目標を再設定する",reset_goal_path(goal) %>
        </div>
      <% end %>
    </div>

    <% if rule = Rule.where(user_id:@current_user.id) %>
      <div class="rule-wrapper">
        <p>【マイルール】</p>
        <% rule.each do |rule| %>       
        <p><%= link_to rule.content, edit_rule_path(rule) %></p>
        <% end %>
      </div>
    <% end %>

    <div class="post-form">
      <div class="post-form-body">
        <div class="form-error">
          <% Post.new.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </div>
        <%= form_with url:posts_create_users_path do |f| %>
          <%= f.label :content,"【今日の積み上げ】" %>
          <%= f.text_area :content %>
          <%= f.submit "投稿" %>
        <% end %>
      </div>
    </div>
  <% end %>