<div class="main">
  <%= render 'layouts/menu' %>
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
       <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with model:@user do |f| %>
          <%= f.label :name,"ユーザー名"%>
          <%= f.text_field :name %>
          <%=  f.label :image_name%>
          <%= f.file_field :image_name,id:"file-input" %>
          <%= f.label :email,"メールアドレス"%>
          <%= f.email_field :email %>
          
          <%= f.submit "保存",class:"submit-btn"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
