<div class="main user-show">
  <div  class="menu">
    <ul class="user">
      <li>
      <img src="<%="/user_images/#{@current_user.image_name}"%>">
      <br><%= link_to(@current_user.name,"/users/#{@current_user.id}/edit")%>
      </li>
      <li>
        <%= link_to("ユーザー一覧","/users/index") %>
      </li>
      <li>
        <%= link_to("投稿一覧","/posts/index")%>
      </li>
      <li>
        <%= link_to("新規投稿","/posts/new")%>
      </li>
      <li>
        <%= link_to("ログアウト","/logout",{method:"post"})%>
      </li>
  　</ul>
  </div>

  <div class="user-container">
    <ul class="user-tabs">
     <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
     <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    <% @like.each do |like|%>
     <% post=Post.find_by(id:like.post_id)%>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
          <div class="foot-wrapper">
            <div class="likes_count">
             <span class= "fa fa-heart btn-to-unlike"></span>
             <%= Like.where(post_id: post.id).count %>
            </div>
            <div class="posting-time">
              <%= post.created_at %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
