<div class="main">
  <%= render 'layouts/menu' %>

  <div class="container">
    <%= render "user_top"%>

    <ul class="user-tabs">
      <li><%= link_to "今までの積み上げ", user_path(@user) %></li>
      <li class="active"><%= link_to "いいね!", likes_user_path(@user) %></li>
      <li><%= link_to "タスク", tasks_user_path(@user) %></li>
    </ul>

    <% @like.each do |like|%>
      <% post=Post.find_by(id:like.post_id)%>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to post.user.name, user_path(post.user.id) %>
          </div>
          <%= link_to post.content, post_path(post) %>
          <div class="foot-wrapper">
            <div class="likes_count">
              <span class= "fa fa-heart btn-to-unlike"></span>
              <%= Like.where(post_id: post.id).count %>
            </div>
            <div class="posting-time">
              <%= post.created_at %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
