<div class="main">
<%= render 'layouts/menu' %>

<div class="container">
  <% if @current_user.id == params[:id].to_i%>
    <div class="goal-wrapper">
      <% if @goal.status == nil%>
        <p>【目標】<%= @goal.goal %></p>
        <p>【目的】<%= @goal.purpose %></p>
        <p>【達成期日】<%= @goal.date.strftime("%Y年%-m月%-d日") %></p>
        <div class="achieve-btn">
          <%= link_to "目標達成",done_goal_path(@goal),method: :post%>
        </div>
      <% else %>
        <div class="">
        <%= link_to "目標を再設定しましょう",reset_goal_path(@goal) %>
        </div>
      <% end %>
    </div>

    <% if rule = Rule.where(user_id:@current_user.id) %>
      <div class="rule-wrapper">
        <p>【マイルール】</p>
        <% rule.each do |rule| %>       
         <p><%= link_to rule.content, edit_rule_path(rule) %></p>
         <% end %>
      </div>
    <% end %>

    <%= form_tag posts_create_users_path do %>
      <div class="post-form">
       <div class="post-form-body">
         <% @post.errors.full_messages.each do |message| %>
         <div class="form-error">
          <%= message %>
         </div>
       <% end %>
         <p>今日の積み上げ</p>   
         <textarea name="content"></textarea>
         <input type="submit" value="投稿">
       </div>
      </div>
    <% end %>
  <% end %>

    <ul class="user-tabs">
      <li><%= link_to "今までの積み上げ", user_path(@user) %></li>
      <li class="active"><%= link_to "いいね!", likes_user_path(@user) %></li>
      <li><%= link_to "タスク", tasks_path(id: @user.id) %></li>
    </ul>
    
    <% @like.each do |like|%>
     <% post=Post.find_by(id:like.post_id)%>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
          <div class="foot-wrapper">
            <div class="likes_count">
             <span class= "fa fa-heart btn-to-unlike"></span>
             <%= Like.where(post_id: post.id).count %>
            </div>
            <div class="posting-time">
              <%= post.created_at %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
