<div class="main">
  <%= render 'layouts/menu' %>

  <div class="container">
    <%= render "user_top"%>

      <ul class="user-tabs">
        <li class="active"><%= link_to "今までの積み上げ", user_path(@user) %></li>
        <li><%= link_to "いいね!", likes_user_path(@user) %></li>
        <li><%= link_to "タスク", tasks_user_path(@user) %></li>
      </ul>
      <% @user.posts.each do |post|%>
        <div class="user-posts-box">
          <div class="post-content">
          <%= link_to post.content,post_path(post) %> 
          </div>
          <div class="foot-wrapper">
            <div class="likes_count">
            <span class= "fa fa-heart btn-to-unlike"></span>
            <%= Like.where(post_id: post.id).count %>
            </div>
            <div class="posting-time">
              <%= simple_time(post.created_at) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>  
</div>
