<div class="main">
<%= render 'layouts/menu' %>

　<div class="container">
   <div class="goal-wrapper">
      <p>【目標】<%= @goal.goal %></p>
      <p>【目的】<%= @goal.purpose %></p>
      <p>【達成期日】<%= @goal.date %></p>
  </div>

    <% if rule = Rule.where(user_id:@current_user.id) %>
      <div class="rule-wrapper">
        <p>【マイルール】</p>
        <% rule.each do |rule| %>       
         <p><%= link_to(rule.content,"/rules/#{rule.id}/edit") %></p>
         <% end %>
      </div>
    <% end %>

    <%= form_tag("/users/#{@current_user.id}/posts_create")do %>
      <div class="post-form">
       <div class="post-form-body">
         <% @post.errors.full_messages.each do |message| %>
         <div class="form-error">
          <%= message %>
         </div>
       <% end %>
         <p>今日の積み上げ</p>   
         <textarea name="content"><%= @post.content %></textarea>
         <input type="submit" value="投稿">
       </div>
      </div>
    <% end %>

    <ul class="user-tabs">
      <li class="active"><%= link_to("今までの積み上げ", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("タスク","/tasks/#{@current_user.id}") %></li>
    </ul>
    <% @user.posts.each do |post|%>
      <div class="user-posts-box">
        <div class="post-content">
         <%= link_to(post.content,"/posts/#{post.id}") %> 
        </div>
        <div class="foot-wrapper">
          <div class="likes_count">
           <span class= "fa fa-heart btn-to-unlike"></span>
           <%= Like.where(post_id: post.id).count %>
          </div>
          <div class="posting-time">
            <%= post.created_at %>
          </div>
        </div>
      </div>
    <% end %>
  </div>  

 
</div>
