<div class="main">
  <%= render 'layouts/menu' %>

  <div class="container">
    <%= render "user_top"%>

    <ul class="user-tabs">
      <li><%= link_to "今までの積み上げ", user_path(@user) %></li>
      <li><%= link_to "いいね!", likes_user_path(@user) %></li>
      <li class="active"><%= link_to "タスク", tasks_user_path(@user) %></li>
    </ul>

    <div class="task-wrapper">
      <div class="tasks-index">
        <div class="tasks-title">
          <p>【未完了タスク】</p>
        </div>
        <% @user.tasks.each do |task|%>
          <% if task.status == nil %>
            <div class="task-box">
              <div class="task-content">
                <%= link_to task.content, edit_task_path(task)%> 
              </div>
              <% if @current_user.id == params[:id].to_i%>
                <div class="task-foot">
                    <%= link_to "完了",done_task_path(task),method: :post %>
                    <%= link_to "削除",task_path(task),method: :delete %>
                  <!-- <div class="posting-time">
                    <%= simple_time(task.created_at) %>
                  </div> -->
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="done-tasks-index">
        <div class="tasks-title">
          <p>【完了タスク】</p>
        </div>
        <% @user.tasks.each do |task|%>
          <% if task.status == "done" %>
            <div class="done-task-box">
              <div class="task-content">
                <%= link_to task.content,edit_task_path(task)%>
              </div>
              <div class="task-foot">
                  <%= link_to "未完了へ戻す",unfinish_task_path(task),method: :post%>
                  <%= link_to "削除",task_path(task),method: :delete %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>