<div class="main">

  <%= render 'layouts/menu' %>

  <div class="container">
    <div class="form-heading">目標再設定</div>

   <div class="form">
    <div class="form-body">
        <%= form_tag("/goals/#{@current_user.id}/update") do %>
          <P>目標</P>
            <input name="goal" value="<%= @goal.goal %>">
          <p>目的</p>
            <input name="purpose" value="<%= @goal.purpose %>">
          <P>期日</P>
            <input name="date" value="<%= @goal.date %>">
          <input type="submit" value="更新">
        <% end %>        
    </div>
   </div>
  </div>
</div>