<div class="main posts-new">
  <%= render 'layouts/menu' %>
  <div class="container">
    <h1 class="form-heading">今日の積み上げを投稿</h1>
      <div class="form">
        <div class="form-body">
            <div class="form-error">
              <% @post.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            </div>
          <%= form_with model:@post do |f| %>
          <%= f.text_area :content %>
          <%= f.hidden_field :user_id,value:@current_user.id%>
          <%= f.submit "投稿する"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
