<div class="main posts-show">
  <%= render 'layouts/menu' %>
  
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%="/user_images/#{@user.image_name}"%>">
        <%= link_to @user.name,user_path(@user) %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if  @like%>
        <%= link_to like_path(@like),method: :delete do %>
         <span class="fa fa-heart btn-to-unlike">いいね！済み</span>
        <% end %>
        <%= @like_count %>
      <% else %>
        <%= link_to post_likes_path(@post),method: :post do %>
          <span class="fa fa-heart btn-to-like"></span>いいね！
        <% end %>
        <%= @like_count %>
      <% end %>
      <% if @post.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to "編集",edit_post_path%>
        <%= link_to "削除",post_path,method: :delete %>
      </div>
      <% end %>
    </div>
  </div>
</div>
