<div class="main user-show">
  <div class="container">
    <div class="form-heading">目標を設定しましょう</div>
    <div class="set-goal-form">
      <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
      <% end %>
      <%= form_with model:@goal,local: true do |f|%>
        <%= f.label :goal,"あなたの目標は何ですか？" %>
        <%= f.text_field :goal %>

        <%= f.label :purpose,"その目的は何でしょう？" %>
        <%= f.text_field :purpose %>

        <%= f.label :date,"いつまでに達成しますか？" %>
        <br>
        <%= f.date_field :date %>
        <br>

        <%= f.submit "新規設定" %>
      <% end %>
      </div>
    </div>
  </div>
</div>