<div class = "main">
  <%= render 'layouts/menu' %>

  <div class = "container">
    <h1 class="form-heading">達成済み目標一覧</h1>
      <div class="goal-wrapper">
        <% if @goal %>
          <% @user.goals.each do |goal|%>
            <div class="post-content">
              <p>【達成日時】<%= goal.updated_at %></p>
              <p>【目標】<%= goal.goal %></p>
              <p>【目的】<%= goal.purpose %></p>
              <p>【達成期日】<%= goal.date %></p>
              <p>【設定日時】<%= goal. created_at%></p>
            </div>
            <div class="foot-wrapper">
              <div class="likes_count">
                <%= link_to "未完了へ戻す",unfinish_goal_path(goal),method: :post%>
              </div>
              <div class="likes_count">
                <%= link_to "削除",goal_path(goal),method: :delete%>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>達成済み目標はまだありません。</p>
        <% end %>
      </div>
  </div>
</div>