<div class="main">

  <%= render 'layouts/menu' %>

  <div class="container">
    <div class="form-heading">目標再設定</div>

   <div class="form">
    <div class="form-body">
      <% @goal.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_with url:recreate_goal_path(@current_user) do |f| %>
        <%= f.label :goal,"あなたの目標は何ですか？"%>
        <%= f.text_field :goal%>

        <%= f.label :purpose,"その目的は何でしょう？"%>
        <%= f.text_field :purpose%>

        <%= f.label :date,"いつまでに達成しますか？"%>
        <br>
        <%= f.date_field :date %>
        <br>

        <%= f.submit "設定する"%>
      <% end %>        
    </div>
   </div>
  </div>
</div>