<div class="main">

  <%= render 'layouts/menu' %>

  <div class="container">
    <div class="form-heading">マイルールの設定・更新</div>

    <%# if @rule.user_id == @current_user.id %>
      <%= form_tag("/rules/#{@current_user.id}/create") do %>
        <div class="form">
          <div class="form-body">
            <% rule = Rule.new %>
              <% rule.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
            <% end %>
              <p>【ルール内容】</p>
                <input name="content">
                <input type="submit" value="設定">
          </div>
        </div>
      <% end %>
    <%# end %>        

   <div class="form">
    <div class="form-body">
      <p>【マイルール一覧】</p>    
      <% @rule.each do |rule| %>
        <div class="rule-index">
          <%= link_to(rule.content,"/rules/#{rule.id}/edit") %>
        </div>
        <%# if @rule.user_id == @current_user.id %>
          <div class="rules-menus">
            <%= link_to("編集", "/rules/#{rule.id}/edit") %>
            <%= link_to("削除", "/rules/#{rule.id}/destroy",{method: "post"}) %>
          </div>
        <%# end %>
      <% end %>
   </div>
  </div>

</div>