<div class="main">

  <%= render 'layouts/menu' %>

  <div class="container">
    <div class="form-heading">マイルールの設定・更新</div>

    <%# if @rule.user_id == @current_user.id %>
        <div class="form">
          <div class="form-body">
              <% @rule.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
              <% end %>
            <%= form_with model:@rule do |f| %>
              <%= f.label :content,"【ルール内容】" %>
              <%= f.text_field :content %>
              <%= f.hidden_field :user_id,value: @current_user.id %>
              <%= f.submit "設定する"%>
            <% end %>
          </div>
        </div>
    <%# end %>        

  <div class="form">
    <div class="form-body">
      <p>【マイルール一覧】</p>    
      <% @rules.each do |rule| %>
        <div class="border-gray">
            <%= link_to rule.content,edit_rule_path(rule) %>
          <%# if @rule.user_id == @current_user.id %>
          <div class="rules-menus">
            <%= link_to "編集",edit_rule_path(rule) %>
            <%= link_to "削除",rule_path(rule),method: :delete %>
          </div>
        </div>
        <%# end %>
      <% end %>
    </div>
  </div>

</div>