<div  class="menu">
      <ul class="user">
        <% if @current_user %>
        <li>
        <img src="<%="/user_images/#{@current_user.image_name}"%>">
        <br><%= link_to @current_user.name,edit_user_path(@current_user)%>
        </li>
        <li>
          <%= link_to "ホームへ戻る",user_path(@current_user) %>
        </li>
        <li>
        　<%= link_to "今日の積み上げ", new_post_path(@current_user)%>
        </li>
        <li>
          <%= link_to "タスク管理",new_task_path %>
        </li>
        <li>
          <%= link_to "達成済み目標",record_goals_path %>
        </li>
        <li>
          <%= link_to "目標の更新・変更", edit_goal_path(@current_user)%>
        </li>
        <li>
          <%= link_to("マイルール設定","/rules/#{@current_user.id}/new") %>
        </li> 
        <% end %>
    　</ul>
    </div>