<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TUMIKI</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--     <script type="text/javascript" src="パス"></script>  -->
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to "ホーム", user_path(@current_user.id) %>
        <% else %>
          <%= link_to "TUMIKI",root_path%>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to "ユーザー一覧", users_path%>
          </li>
          <li>
            <%= link_to "全投稿一覧",posts_path %>
          </li>
          <li>
            <a id="logout">ログアウト</a>
          </li>
        <% else %>
          <li>
            <%= link_to "TUMIKIとは",about_path %>
          </li>
          <li>
            <a id="guest-login">ゲストログイン</a> 
          </li>
          <li>
            <a id="signup-show">新規登録</a> 
          </li>
          <li>
           <a id="login">ログイン</a>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
    <h2>ユーザーログイン</h2>
      <%= form_with url:login_users_path do |f|%>
        <%= f.label :email,"メールアドレス"%>
        <br>
        <%= f.email_field :email,class:"form-control"%>
        <br>
        <%= f.label :password,"パスワード"%>
        <br>
        <%= f.password_field :password,class:"form-control"%>
        <%= f.submit "ログイン",class:"submit-btn"%>
      <% end %>
    </div>
  </div>
</div>

<div class="login-modal-wrapper" id="guest-login-modal">
  <div class="modal">
    <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
    <h2>ゲストユーザーでログインしますか？</h2>
      <%= form_with url:login_users_path do |f| %>
        <%= f.hidden_field :email,value:"guestuser@gmail.com" %>
        <%= f.hidden_field :password,value:"guestuser" %>
        <%= f.submit "ゲストログイン",class:"submit-btn"%>
      <% end %>
    </div>
  </div>
</div>

<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>

    <div id="signup-form">
      <h2>新規ユーザー登録</h2>
        <%= form_with model:User.new do |f| %>
          <%= f.label :name,"ユーザー名"%>
          <br>
          <%= f.text_field :name %>
          <br>
          <%= f.label :email,"メールアドレス"%>
          <br>
          <%= f.email_field :email %>
          <br>
          <%= f.label :password,"パスワード"%>
          <br>
          <%= f.password_field :password %>
          <%= f.submit "新規登録",class:"submit-btn"%>
       <% end %>
    </div>
  </div>
</div>

    <div class="logout-modal-wrapper" id="logout-modal">
      <div class="modal">
        <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="login-form">
        <h2>ログアウトしますか</h2>
          <div>
            <%= link_to "はい", logout_users_path,method: :post,class:"yes-no"%>
          </div>
          <div id="logout-no" class="yes-no">
          <a>いいえ</a>
          </div>
      </div>
    </div>
  </div>
  </body>
</html>