<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TUMIKI</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag('favicon.ico') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--     <script type="text/javascript" src="パス"></script>  -->
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("ホーム","/users/#{@current_user.id}")%>
        <% else %>
          <%= link_to("TUMIKI","/")%>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to("ユーザー一覧","/users/index") %>
          </li>
          <li>
            <%= link_to("ユーザー投稿一覧","/posts/index")%>
          </li>
          <li>
            <a id="logout">ログアウト</a>
          </li>
        <% else %>
          <li>
            <%= link_to("TUMIKIとは","/about")%>
          </li>
          <li>
            <a id="signup-show">新規登録</a> 
          </li>
          <li>
           <a id="login">ログイン</a>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
    </div>
  <div id="login-form">
   <h2>ユーザーログイン</h2>
    <%= form_tag("/login") do%>
      <p>メールアドレス</p>
      <input class="form-control" name="email" value="<%=@email%>">
      <p>パスワード</p>
      <input class="form-control"　name="password" type="password" value="<%=@password%>">
      <input class="submit-btn" type="submit" value="ログイン">
    <% end %>
  </div>
</div>
</div>

<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>

    <div id="signup-form">
      <h2>新規ユーザー登録</h2>
       <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @password %>">
          <input class="submit-btn" type="submit" value="新規登録">
       <% end %>
    </div>
  </div>
</div>

  <div class="logout-modal-wrapper" id="logout-modal">
   <div class="modal">
     <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
     </div>
     <div id="logout-form">
      <h2>ログアウトしますか</h2>
       <div>
        <%= link_to("はい","/logout",{method:"post"})%>        
       </div>
       <div id=logout-no>
        <a>いいえ</a>
       </div>
    </div>
   </div>
  </div>
  </body>
</html>